<div class="row bg-primary my-4 py-5">
    <div class="col-md-12 text-light  py-4 text-center">
        <h3 class="fs-1">Get Huge Savings on Medicines</h3>
    </div>
    <div class="col-md-12 text-center text-light">
        <div class="container my-3">
 <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-3 text-center text-light">
        <i class="fa-solid fa-circle-check"></i><span> 100 % Genuine Medicines</span> 
    </div>
    <div class="col-md-2 text-center">
        <i class="fa-solid fa-circle-check"></i> &nbsp; Trusted Pharmacies
    </div>
    <div class="col-md-3">
        <i class="fa-solid fa-circle-check"></i> &nbsp; Delivery to your doorstep
    </div>
    <div class="col-md-2">
        <i class="fa-solid fa-circle-check"></i> &nbsp; Store Pick up
    </div>
 </div>
</div>
    </div>
</div>

<div class="container">
    <div class="input-group p-3 shadow rounded-5 input-box" >
        <span class="input-group-text bg-body text-primary border-0"> Select City &nbsp; &nbsp; &nbsp; &nbsp;<i class="fa-solid fa-angle-down"></i></span>
        <input type="text" aria-label="Search Medicine" class="form-control  search border-0" autofocus>
        <span class="input-group-text bg-body text-primary border-0"><i class="fa-solid fa-magnifying-glass"></i> &nbsp; &nbsp; Search
        </span>
      </div> 
</div>