<div
  class="footer-div shadow bg-dark text-light text-decoration-none p-3 d-flex justify-content-around"
>
  <div
    class="row d-flex justify-content-around mt-4 container text-start text-decoration-none"
  >
    <div class="col-md-3">
      <div class="col fs-4">Health</div>
      <a class="row"><span>MediCare Gold</span></a
      ><a class="row"><span>Book Medicine</span></a
      ><a class="row"><span>Doctor Consultation</span></a
      ><a class="row"><span>Book a Lab test</span></a
      ><a class="row"><span>Covid Essential Items</span></a
      ><a class="row"><span>Dental</span></a
      ><a class="row"><span> Cancer Care</span></a>
    </div>
    <div class="col-md-3">
      <div class="fs-4">Hospitalization</div>
      <a class="row"><span>Plan hospitalization</span></a>
      <a class="row"><span> Locate hospital</span></a>
      <a class="row"><span> Claim forms</span></a
      ><a class="row"><span>Intimate claim</span></a
      ><a class="row"><span> Track claim</span></a
      ><a class="row"><span> FAQs</span></a>
    </div>
    <div class="col-md-3">
      <div class="fs-4">About Us</div>
      <a class="row"><span> Testimonials</span></a
      ><a class="row"><span> Contact</span></a
      ><a class="row"><span itemprop="name"> Blog</span></a
      ><a class="row"><span itemprop="name"> Careers</span></a
      ><a class="row"><span itemprop="name"> Security</span></a>
    </div>
    <div class="col">
      <h6 class="fs-5 my-3">Download App</h6>
      <a class="mx-3"><i class="fa-brands fa-2x fa-google-play"></i></a
      >
       <a class="m-2"><i class="fa-brands fa-2x fa-apple"></i></a>
      <h6 class="fs-5 mt-4 my-3">Follws Us</h6>
      <a href="" class="navbar-brand">
        <i class="fa-brands fa-2x fa-square-facebook mx-2"></i>
      </a>
      <a href="" class="navbar-brand ms-2">
        <i class="fa-brands fa-2x fa-instagram mx-2"></i>
      </a>
      <a href="" class="navbar-brand ms-2">
        <i class="fa-brands fa-2x fa-linkedin mx-2"></i>
      </a>
      <i class="material-icons star yellowstar">star_rate</i>
    </div>
  </div>
</div>
