
	header {
		text-align: center;
		padding: 45px;
	}

	header:before {
		
		content: '';
		display: block;
		height: 138px;
		left: 0;
		position: absolute;
		top: 0;
		width: 131px;
	}

	header:after {
		
		content: '';
		display: block;
		height: 254px;
		right: 0;
		position: absolute;
		top: -90px;
		width: 137px;
	}

	body {
		color: #333;
		font-family: Calibri,sans-serif;
		margin: 0;
	}

	div {
		border-radius: 10px;
		margin: 100px auto 0;
		text-align: center;
	}

	h1 {
		font-size: 34px;
		font-weight: normal;
		line-height: 45px;
		margin-top: 0;
	}

	h3 {
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 10px;
	}

	@media (max-width: 767px) {
		div {
			margin: 75px 20px;
		}
	}

