/* You can add global styles to this file, and also import other style files */
*{
    @import url(//db.onlinewebfonts.com/c/16e715573b2b3072037cf4ab26fc8bb8?family=SK+Reykjavik+Rounded);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
}

b{
    font-size: 20px;
}

.cursor{
    cursor: pointer;
}

.back{
    width: 100vw !important;
    }
